.depth_2, .depth_3, .depth_4, .depth_5, .depth_6{
	border-left: 1px dashed rgba(0, 0, 0, 0.3);

}
.response, .button{
	cursor:pointer;
}
.button{
 font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
}
.button:hover{
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active{
	color: rgb(51,51,51);
	border: 1px solid rgb(204,204,204);
	background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.comment-info{
	font-size: 11px;
    font-family: tahoma,sans-serif;
    height: 24px;
    line-height: 24px;
}
.date{
	margin-left:25px;
}
.author{
	font-weight: 700;
	color: #666;
}
.text-comment{
	font-family: Arial,sans-serif;
	font-size: 14px;
}
.comment-container {
    padding: 15px 15px 0px 25px;
}
.comment-container:last-child {
    padding-bottom: 0px;
}
.input-container{
	margin-top:15px;
	margin-left:15px;
}
